# Ignore pictures
*.png
# Ignore TextEditor things
*~
*#
# Ignore any downloaded data
*DATA*
# Ignore python modules themselves, as they can be remade
*.pyc
# Igonre .DS
*.DS*
# Ignore build directories
*Build*